@model Category

<form asp-controller="categories" asp-action="Store" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for=Name class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for="Name"></span>
        <button class="btn btn-success">Create</button>
    </div>
</form>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />

}