@model Product

<form asp-controller="products" asp-action="Store" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for=Name class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for=Price class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for=Description
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Rate" class="form-label"></label>
        <input asp-for=Rate class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for="Rate"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Image" class="form-label"></label>
        <input type="file" asp-for=Image class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select class="form-select">
            @foreach (var item in ViewBag.categories)
                {
                   <option>@item.Name</option>
                }
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>
    <button class="btn btn-success">Create</button>

</form>